<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width= , initial-scale=1.0">
  <title>Flask Template - {% block title %}{% endblock %}
  </title>
</head>
<body>
  <!--<a href="/">Home </a> |
  <a href="/about">About </a> |
  <a href="/favorite/foods">Favorite Foods</a> |
  <a href="/favorite/sports">Favorite Fports</a> | 
  <a href= "/favorite_movies">Favorite Movies</a> |-->
  <a href= "{{ url_for('index') }}">Home</a> |
  <a href= "{{ url_for('about') }}">about</a> |
  <a href= "{{ url_for('favorite_foods') }}">Favorite Foods</a> |
  <a href= "{{ url_for('favorite_sports') }}">Favorite Sports</a> |
  <a href= "{{ url_for('favorite_movies') }}">Favorite Movies</a> |
  
  {% block content %}{% endblock %}

  </body>
</html>

